.header-bandas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 300px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/18/Rock_concert_in_black_and_white_%28Unsplash%29.jpg);
    background-size: cover;
    background-position-y: center;
}

// --------------------------------------
h2{
    text-align: center;

}
    h3{
        text-align: center;
        margin-top: 4em;
    }

.contenedor-bandas{
    margin: auto 10em;
    gap: 10px;
    width: auto;
    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .card-body{
            p{
                color:black
            }
            .btn{
                background-color: black;
            }
        }

    }
}



// RESPONSIVE - MEDIA QUERIES
@media (max-width: 1024px) {
    .texto-random-centrado {
        margin: 0 50px;

    }
}
@media (max-width: 500px) {
    .texto-random-centrado {
        margin: 0 50px;
    }
    .contenedor-bandas{
        margin: auto 5em;
        gap: 0px;
        width: auto;
    }
}
@media (max-width: 391px){
.header-bandas{
    background-image: none;
    padding-bottom: 70px;
}
}
