.header-bandas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 300px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/18/Rock_concert_in_black_and_white_%28Unsplash%29.jpg);
    background-size: cover;
    background-position-y: center;
}

// --------------------------------------
h2{
    text-align: center;

}
    h3{
        text-align: center;
        margin-top: 4em;
    }

.contenedor-bandas{
    margin: auto 10em;
    gap: 10px;
    width: auto;
    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .card-body{
            p{
                color:black
            }
            .btn{
                background-color: black;
            }
        }

    }
}
// --------------------------------------













.main-bandas h2 {
    text-align: center;
}
.main-bandas p {
    text-align: center;
    color: black;
}
.bandas {
    display: flex;
    /* border: dotted green 2px; */
    flex-wrap: nowrap;
    padding: 0 100px 0 100px;
    margin: 50px 0 0 0;
    flex-direction: row;
}
.bandas img {
    width: 550px;
    /* border: dotted 3px black; */
}
.bandas h1 {
    text-align: right;
}
.bandas h2 {
    text-align: right;
}
.bandas li a {
    text-align: right;
    color: dimgrey;
}
.bandas img {
    width: 200px;
}
.bandas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 300px 50px 300px;
}
.bandas div {
    width: 200px;
    min-height: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline-block;
    margin: 25px 0 0 0;
    background-color: #c1caff36;
}
.bandas img {
    margin-bottom: 25px;
}
.bandas button {
    background-color: black;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
}
.titulo-separador {
    border: double 10px rgb(255, 255, 255);
    border-radius: 50px;
    background-color: rgba(129, 129, 129, 0.712);
    color: white;
}

// RESPONSIVE - MEDIA QUERIES
@media (max-width: 1024px) {
    .texto-random-centrado {
        margin: 0 50px;

    }
}